<h1>Editing Champion Positional Stat</h1>

<%= render 'form', champion_positional_stat: @champion_positional_stat %>

<%= link_to 'Show', @champion_positional_stat %> |
<%= link_to 'Back', champion_positional_stats_path %>
