<h1>Welcome To The Stats Page</h1>
<p>Gaze upon the field of stats before you.</p>
<%= link_to 'The Stats', controller: 'stats' %>

<%= link_to 'Matches', controller: 'matches' %>
<p>This is my welcome page</p>
